@{
    ViewData["Title"] = "Alteração de senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-container container-centralizado">

    <h1>Alteração de senha</h1>

    <form id="formAlteracaoSenha">
        <div class="form-group">
            <label for="senha" class="form-label">Nova senha</label>
            <input type="password" id="senha" name="senha" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="confirmacaoSenha" class="form-label">Confirmar senha</label>
            <input type="password" id="confirmacaoSenha" name="confirmacaoSenha" class="form-control" required />
        </div>

        <button type="submit" class="btn">Salvar</button>
    </form>

</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#formAlteracaoSenha').submit(function (e) {
                e.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    url: '@Url.Action("AlterarSenhaPrimeiroAcesso", "Login")',
                    type: 'PUT',
                    data: formData,
                    success: function (resposta) {
                        if (resposta.sucesso) {
                            Swal.fire({
                                title: "Senha alterada com sucesso!",
                                confirmButtonColor: 'LightSeaGreen',
                                icon: "success"
                            }).then((resultado) => {
                                window.location.href = '@Url.Action("AreaAdministrativaInstituicao", "Login")';
                            });
                        } else {
                            exibirAlerta(resposta.mensagem);
                        }
                    },
                    error: function (xhr, status, error) {
                        exibirAlerta('Erro ao alterar senha.');
                    }
                });
            });
        });
    </script>
}
