@{
    ViewData["Title"] = "Área administrativa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container-centralizado">

    <a class="btn" href="/Usuario/Atendimento/MeusAtendimentosInstituicao">Atendimentos</a>
    <a class="btn" href="/Admin/Pratica/MinhasPraticas">Minhas práticas</a>
    <a class="btn" href="@ViewBag.FormularioNovaPratica" target="_blank">Solicitar cadastro de nova prática</a>

</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            configurarBotaoVoltar('@Url.Action("Logout", "Login")');
        });
    </script>
}
