@{
    ViewData["Title"] = "Área administrativa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<div class="container container-centralizado">

    <a class="btn" href="/Admin/Instituicao/MinhasInstituicoes">Gerenciar instituições</a>
    <a class="btn" href="/Admin/Pratica/MinhasPraticasAdmin">Gerenciar práticas</a>
    <a class="btn" href="/Admin/Pratica/VinculoPraticaAdmin">Vincular práticas</a>

</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            configurarBotaoVoltar('@Url.Action("Logout", "Login")');
        });
    </script>
}
