@{
    ViewData["Title"] = "Aviso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h3 style="color: #02542D">Para acesar a área administrativa utilize o CNPJ como login e senha no primeiro acesso.</h3>
    <h3 style="color: #02542D">A senha deve ser alterada no primeiro acesso para uma senha segura.</h3>

    <a href="/Admin/Instituicao/MinhasInstituicoes" class="btn">OK</a>
</div>