@{
    ViewData["Title"] = "Sucesso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <svg class="icon" style="width: 10rem; height: 10rem;">
        <use xlink:href="/images/sprite.svg?v=1.0#success-icon"></use>
    </svg>

    <h2 style="color: #02542D">Instituição cadastrada com sucesso!</h2>

    <a href="/Admin/Instituicao/AvisoLogin" class="btn">OK</a>
</div>